<% layout("/layouts/boilerplate") %>




    <div class="row row-col-lg-3 row-col-mg-2 row-col-sm-1">

        <% for(let listing of alllistings) { %>

            <div class="card" style="width: 18rem;">
                <img src=<%=listing.image %> class="card-img-top" alt="image" style = "height : 20rem">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= listing.title %>
                    </h5>
                    <p class="card-text">
                        <%= listing.description%>.
                    </p>
                    <a href="/listings/<%= listing._id %>" class="btn btn-primary">VISIT</a>
                </div>
            </div>

            <% } %>

    </div>

    <!-- <ul>
        <% for(let listing of alllistings) { %>
            <li><a href="/listings/<%= listing._id %>">
                    <%= listing.title %>
                </a></li>
            <% } %>
    </ul> -->